.fullscreen-menu {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  background: $black;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;

  .closebtn{
    top: 5%;
    right: 6%;

    width: 30px;
    height: 30px;
  
    &::before,
        &::after{
          background: white;
        }
  }
}

