.burgermenu {
  background: url("../img/bg/bg5.png") center center / cover no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
}


.burgermenu__list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 72%;
  height: 100%;
}

.burgermenu__item {
  display: flex;
  flex-direction: row;
  position: relative;

  .burgermenu__content {
    display: none;
    z-index: 10;
    width: 100%;
    padding: 10% 5%;
    background: rgba(88, 88, 88, 0.85);
  }

  &--active {
    .burgermenu__content {
      display: flex;
    }

    .burgermenu__trigger__title {
      color: $yellow;
    }

    .burgermenu__trigger--clone {
      display: flex;

      .burgermenu__trigger__title {
        color: white;
      }
    }
  }
}

.burgermenu__title {
  position: absolute;
  left: 9%;
  top: 16%;
}

.burgermenu__trigger {
  text-decoration: none;
  width: rem(80px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 51px;

  &__title {
    @include gagalin();
    font-weight: normal;
    font-size: rem(41px);
    letter-spacing: rem(-1px);
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    transform: rotate(270deg);
  }

  &--clone {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    &__title {
      color: white;
    }
  }

}




.burgermenu__meat-eaters {

  background: url("../img/burgermenu/1.png") center center / cover no-repeat;
}


.burgermenu__vegan {

  background: url("../img/burgermenu/2.png") center center / cover no-repeat;
}

.burgermenu__dietary {
  background: url("../img/burgermenu/3.png") center center / cover no-repeat;
}