.footer {
  background: url('../img/bg/bg9.png') center center / cover no-repeat;
  position: absolute;
  bottom: 0;
  flex: 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @include phones {
    flex-direction: column;
  }
}

.footer__col {
  width: 50%;
  padding: 0% 0%;

  @include phones {
    width: 100%;
    text-align: center;
  }

  &--left {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    @include phones {
      justify-content: center;
    }
  }

}

.footer__adress {
  display: block;
  color: white;
  letter-spacing: rem(-1px);
  padding: rem(3px) rem(0px);
}

.footer__phone {
  display: block;
  color: $orange;
  font-weight: bold;
  text-decoration: none;
  font-size: rem(16px);
}