.fullscreen-menu {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  background: $black;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;

  .fullscreen-menu__close {
    display: block;
    width: rem(30px);
    height: rem(30px);
    position: absolute;
    top: rem(20px);
    right: rem(36px);

    &::before,
    &::after{
      content: "";
      position: absolute;
      top: rem(11px);
      left: rem(-4px);
      width: rem(36px);
      height: rem(6px);
      border-radius: rem(1px);
      background: white;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }


  }
}
