.hamburger-menu-link{
  vertical-align: center;
  position: absolute;
  top: 4%;
  right: 4%;
  height: 22px;
  align-items: center;
  display: none;
  @include tablets{
    display: flex;
  }
}


.hamburger-menu-link__bars{
  &, &::before, &::after{
    background: #fff;
    width: 24px;
    height: 4px;
    border-radius: 2px;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0px;
  }
  &::after{
    content: "";
    position: absolute;
    top: 18px;
  }
}