.hamburger-menu-link{
  vertical-align: center;
  position: absolute;
  top: rem(30px);
  right: rem(30px);
  height: rem(22px);
  align-items: center;
  display: none;
  @include tablets{
    display: flex;
  }
}


.hamburger-menu-link__bars{
  &, &::before, &::after{
    background: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius: rem(3px);
  }

  &::before{
    content: "";
    position: absolute;
    top:rem(2px);
  }
  &::after{
    content: "";
    position: absolute;
    top:rem(16px);
  }
}