.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
}

.header__logo{
  min-width: 90px;
}


.logo{
  display: block;
}



.header__menu{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

  @include tablets{
    display: none;
  }
}

.header__links{
  display: flex;
  align-items: center;
}


