.header{
  display: flex;
  align-items: center;
  padding-top: 1.25%;
  flex: 0 0 auto;
  justify-content: space-between;

  @include tablets {
    padding-left: 1%;
    padding-right: 9%;
  }
}

.header__logo{
  max-width: 90px;
  flex: 0 0 auto;
}

.logo{
  display: block;
}

.header__menu{
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: flex-end;

  @include tablets{
    display: none;
  }
}

.header__links{
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}