.order {
  display: flex;
  color: #e0e0e0;
  padding: rem(24px) rem(0px);
  letter-spacing: rem(-1px);


  @include tablets{
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
  }
}

.order__left-col,
.order__right-col {
  width: calc(100%/2 - 10px);

  @include tablets{
    width: 100%;
  }
}

.order__left-col {
  margin-right: rem(20px);

  @include tablets {
    margin-right: 0;
    }

  .order__row {
    margin-bottom: rem(14px);
  }
}



.order__row {
  display: flex;
}

.order__block {
  flex: 1;
  margin-right: rem(20px);


  &:last-child {
    margin-right: 0;
  }
}

.order__title {
  margin-bottom: rem(5px);

}

.order__input {
  width: 100%;
  padding: rem(6px) rem(20px);
  border: rem(2px) solid transparent;
  border-radius: rem(4px);
}

.order__input:focus {
  outline: none;
  border-color: #f9b43b;
}

.order__input--textarea {
  resize: initial;
  height: rem(110px);
  margin-bottom: rem(9px);
}

.order__switch-controls{
  margin-bottom: rem(20px);
}

.switch-controls__elem{
  margin-right: rem(20px);
  
  &:last-child{
    margin-right: rem(0px);
  }
}
.switch-controls__elem-title {
  position: relative;
  margin-right: calc(rem(44px) - 26px);
  margin-left: rem(24px);



  &::before {
    position: absolute;
    top: rem(2px);
    left: rem(-24px);
    content: "";
    display: block;
    width: rem(15px);
    height: rem(15px);
    background-color: white;
    border: rem(1px) solid white;
    border-radius: 50%;
  }

  &::after {
    content: "";
    opacity: 0;
    width: rem(7px);
    height: rem(7px);
    background-color: $orange;
    border-radius: 50%;
    position: absolute;
    top: rem(7px);
    left: rem(-19px);
    
  }

}

.switch-controls__elem-radio {
  display: none;
}

.switch-controls__elem-radio:checked~.switch-controls__elem-title::after {
  opacity: 1;
}

.switch-controls__elem-radio:checked~.switch-controls__elem-title::before {
  border: rem(1px) solid #f9b43b;
}


.check-controls__elem-title {
  position: relative;
  margin-right: calc(rem(44px) - 24px);
  margin-left: rem(24px);
  margin-bottom: rem(18px);



  &::before {
    position: absolute;
    top: rem(2px);
    left: rem(-24px);
    content: "";
    display: block;
    width: rem(15px);
    height: rem(15px);
    background-color: white;
    border: rem(1px) solid white;
  }

  &::after {
    content: "\2713";
    opacity: 0;
    width: rem(7px);
    height: rem(7px);
    position: absolute;
    top: rem(-2px);
    left: rem(-26px);
    color: $orange;
    font-weight: bold;
    font-size: rem(20px);
  }

}

.check-controls__elem-checkbox {
  display: none;
}

.check-controls__elem-checkbox:checked~.check-controls__elem-title::after {
  opacity: 1;
}

.check-controls__elem-checkbox:checked~.check-controls__elem-title::before {
  border: rem(1px) solid #f9b43b;
}

.order__buttons{
  flex:1;
  width: rem(96px);
  height: rem(36px);
}

.order__btn{
  padding: rem(8px) rem(14
  px);
  font-weight: bold;
  margin-right: rem(5px);
  border: rem(1px) solid transparent;

  &:hover{
    border-color: #f9b43b;  
  }
}

.order__btn-clear{
  text-transform: inherit;
  background-color: transparent;
  color: inherit;
  font-size: rem(14px);
  font-weight: normal;

  &:hover{
  border-color: transparent;
  font-weight: bold;
  }
}
