.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: rem(650px); 
  object-fit: cover;

  &--align--top{
    justify-content: flex-start;
  }
}

.section__title{
  font-size: rem(72px);
  color: $yellow;
  margin-bottom: rem(31px);
  @include gagalin();
  line-height: 1;
  margin-bottom: rem(15px);
  
  &--centered{
    text-align: center;
  }

  &--color-black{
    color: $black;
  }
  &--color-white{
    color: white;
    line-height: rem(66px);
  }
}