.slider__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidermenu {
  width: 100vw;
  padding: 0 10%;
  height: 100%;
  position: relative;
  max-height: 475px;

  @include tablets {
    padding: 10% 15%;
    max-height: unset;
  }
}

.slidermenu__items {
  display: flex;
  position: relative;
  padding: 0 5%;
}

.slidermenu__item {
  display: flex;
  width: 100vh;
  height: 75vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 7px;

  @include tablets {
    flex-direction: column;
    text-align: center;
    height: 80vh;
  }
}

.slidermenu__left-col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


  @include tablets {
    height: 50%;
    width: 100%;
    padding-top: 18%;
  }

}

.slidermenu__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidermenu__structure {
  position: absolute;
  border-radius: 3%;
  top: 0%;
  left: 0;
  width: rem(90px);
  height: rem(90px);
  background: #eb8c38;

  &:hover {
    opacity: 0.9;

    .slidermenu__structure__list {
      display: flex;
      transition: 0.3ms;
    }
  }

  .slidermenu__structure__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
  }

}

.slidermenu__structure-title {
  position: absolute;
  top: rem(60px);
  left: rem(23px);
  @include gagalin();
  font-weight: normal;
  font-size: rem(16px);
  color: white;
  letter-spacing: rem(-1px);
}

.slidermenu__structure__list {
  position: absolute;
  top: 0;
  left: rem(91px);
  background: rgba(255, 255, 255, 0.85);
  border-radius: rem(3px);
  display: flex;
  flex-direction: column;
  width: rem(270px);
  padding: 10%;
  display: none;
}

.slidermenu__structure__item {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  font-size: rem(14px);
  font-weight: 600;
}

.slidermenu__structure__icon {
  width: rem(50px);
  height: rem(45px);
  margin-right: rem(14px);
  align-items: center;
  justify-content: center;
  display: flex;
}

.slidermenu__structure__name {
  margin-right: rem(14px);
}

.slidermenu__structure__weight {
  margin-left: auto;
  display: inline-block;
  font-weight: 300;
}


.slidermenu__calories {
  position: absolute;
  bottom: 3%;
  left: 0;
  width: rem(65px);
  height: rem(65px);

  @include tablets {
    left: unset;
    bottom: unset;
    top: 0;
    right: 0;
  }

  &-info {
    line-height: rem(34px);
    text-align: center;
    position: absolute;
    top: rem(21px);
    left: rem(-2px);
    @include gagalin();
    font-weight: normal;
    font-size: rem(20px);
    color: white;
  }
}


.slidermenu__right-col {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1%;

  @include tablets {
    width: 100%;
    height: 50%;
    padding: 0%;
    justify-content: flex-start;
  }

}

.slidermenu__title {
  margin-bottom: 9%;

  @include tablets {
    margin-bottom: 2%;
    align-self: center;
  }
}

.slidermenu__info {
  color: white;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: rem(24px);
  margin-bottom: 7%;

  @include tablets {
    align-self: center;
    margin-bottom: 2%;
  }
}

.slidermenu__order {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  @include tablets {
    justify-content: center;
  }
}

.slidermenu__price {
  line-height: 0.8;
  text-transform: uppercase;
  color: $orange;
  @include gagalin();
  font-weight: normal;
  font-size: rem(29px);
  margin-right: rem(20px);
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.8px;
  margin-right: rem(28px);
  padding-bottom: rem(5px);
}

.slider__pricetotal {
  font-size: rem(72px);
  padding-right: rem(6px);
}

.slidermenu__btn {
  display: block;
}